body > #root > div {
  height: 100vh;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#card-container {
  display: flex;
  flex-direction: row;
}
